@inherits MyComponentBase

<div dir="rtl">

    @if (cartableDTOList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <MudTable Items="@cartableDTOList">
            <HeaderContent>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.BlazorServer_RadNumber)))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.BlazorServer_PCreateDate)))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.BlazorServer_PRecieveDate)))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.BlazorServer_Requestor)))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.BlazorServer_Process)))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.BlazorServer_Task)))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.BlazorServer_Summary)))
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context?.Case.Id</MudTd>
                    <MudTd>@context?.Case.CreateTimeRecord</MudTd>
                    <MudTd>@context?.WorkItem.CreateTimeRecord</MudTd>
                    <MudTd>@context?.Requestor?.DisplayName</MudTd>
                    <MudTd>@context?.Process?.DisplayName</MudTd>
                    <MudTd>@context?.Endorsement?.DisplayName</MudTd>
                    <MudTd>@context.Summary</MudTd>
                </RowTemplate>
            </MudTable>
        <hr />
        <br />
        <br />
    }
</div>
@code
{
    [Parameter]
    public Boolean Inbox { get; set; }

    [Parameter]
    public String Username { get; set; }

    private IEnumerable<CartableDTO>? cartableDTOList;

    protected override async Task OnInitializedAsync()
    {
        var cartableDTO = new CartableDTO();

        cartableDTO.User = new SimpleClassDTO() { Name = Username };

        if (Inbox)
        {
            cartableDTOList = await iCartable.Inbox(cartableDTO);
        }
        else
        {
            cartableDTOList = await iCartable.Outbox(cartableDTO);
        }
    }
}
