@using Blazored.FluentValidation
@inherits CUpsert_GeneralCode

@if (Record != null && !IsLoading)
{
    @if (!IsInline)
    {
        <NavigationComponent _CNavigation="@_CNavigation"></NavigationComponent>
    }
    <div class="my-2" style="direction:rtl">
        <EditForm Model="Record" OnValidSubmit="UpsertTask">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <FluentValidationValidator />
            <div class="accordion shadow rounded" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <MudToggleIconButton class="accordion-button" type="button" data-bs-toggle="collapse"
                                             data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                             aria-controls="panelsStayOpen-collapseOne">
                            اطلاعات عمومی
                        </MudToggleIconButton>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                         aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body row">
                            <div class="col-sm-11 col-lg-5">
                                <MudNumericField Label="شناسه" Value="Record.Id"
                                                 ReadOnly="true"
                                                 HelperText="بصورت خودکار ساخته می‌شود" />
                            </div>
                            <div class="col-sm-11 col-lg-5">
                                <MudNumericField Label="ایندکس"
                                                 Value="Record.PublicSortIndex"
                                                 HelperText="جهت مرتب‌سازی" />
                            </div>
                            <div class="col-sm-11 col-lg-5">
                                <MudTextField Label="نام"
                                              Value="Record.PublicName" />
                            </div>
                            <div class="col-sm-11 col-lg-5">
                                <MudTextField Label="نام نمایشی"
                                              HelperText="نامی که کاربر مشاهده می‌کند"
                                              Value="Record.PublicDisplayName" />
                            </div>
                            <div class="col-sm-11 col-lg-5">
                                <MudTextField Label="متن راهنما"
                                              Value="Record.PublicDescription"
                                              HelperText="توضیحات" />
                            </div>
                            <div class="col-sm-11 col-lg-5">
                                <MudCheckBox Label="فعال"
                                             Value="@Record.PublicEnableRecord"
                                             Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Filled.Verified"
                                             UnCheckedColor="Color.Error"
                                             UncheckedIcon="@Icons.Material.Filled.DoNotDisturb" />
                            </div>
                        </div>
                    </div>
                </div>
                @if (Id > 0)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <MudToggleIconButton class="accordion-button" type="button" data-bs-toggle="collapse"
                                                 data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                                 aria-controls="panelsStayOpen-collapseTwo">
                                اطلاعات تکمیلی
                            </MudToggleIconButton>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse  collapse show"
                             aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body row">
                                @RowTemplate
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="form-group d-flex justify-content-center my-3">
                @if (IsInline)
                {
                    <MudFab Color="Color.Primary"
                            StartIcon="@Icons.Material.Filled.Save"
                            Label="@Title" data-bs-dismiss="modal" />
                }
                @if (!IsInline)
                {
                    <MudButtonGroup OverrideStyles="false">
                        <MudFab Color="Color.Primary"
                                StartIcon="@Icons.Material.Filled.Save"
                                Label="@Title" data-bs-dismiss="modal" />
                        <MudFab Color="Color.Secondary"
                                OnClick="@(e=>_CNavigation.BackNavigation(_NavigationManager))"
                                StartIcon="@Icons.Material.Filled.KeyboardReturn"
                                Label="برگشت" />
                    </MudButtonGroup>
                }
            </div>
        </EditForm>
    </div>
}
<CLoading IsLoading="@IsLoading" AnyRecord="@true"></CLoading>
@code {


}
