@inherits CUpsert_GeneralCode

<CEditDimentions Record="@Record" Records="@Records" IsInline="@IsInline"
                 Name="D_EndorsementPattern" Id="@Id" reference="@reference"
                 ParentCallback="@ParentCallback" Title="@Title"
                 LinkRecords="@LinkRecords">
    <RowTemplate>
        <div>
            @if (!IsLoading)
            {
                <div class="row">
                    <center>
                        <MudButton Variant="Variant.Filled" Color="Color.Success"
                                   StartIcon="@Icons.Material.Filled.NoteAdd"
                                   style="align-self: center;"
                        @onclick="(e => AddConditions(e,(Record as F_Scenario)))">
                            @(globalization.GetValue(nameof(Localization.BlazorServer_AddConditionAndVariable)))
                        </MudButton>
                    </center>
                    <div class="row">
                        @if ((Record as F_Scenario).Conditions.Any())
                        {
                            <Ctable>
                                <caption>
                                    <div class="row my-1" style="justify-content: center;">
                                        <span class="col-2 text-success">@(globalization.GetValue(nameof(Localization.BlazorServer_ConditionAndVariableList) ))</span>
                                    </div>
                                </caption>
                                <thead>
                                    <tr style="width:90%">
                                        <th data-sortable="true" style="width:8%" aria-sort="ascending">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_RowId)))
                                        </th>
                                        <th data-sortable="true" style="width:8%">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_SortIndex)))
                                        </th>
                                        <th data-sortable="true" style="width:16%">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Variable)))
                                        </th>
                                        <th data-sortable="true" style="width:16%">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Parameter)))
                                        </th>
                                        <th data-sortable="true" style="width:16%">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Operand)))
                                        </th>
                                        <th data-sortable="true" style="width:16%">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_CellValue)))
                                        </th>
                                        <th data-sortable="true" style="width:8%">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Enable)))
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (Record as F_Scenario).Conditions)
                                    {
                                        <tr style="width:90%">
                                            <td>
                                                <span class="col-12">
                                                    @((item.Id == 0) ? String.Empty : item.Id)
                                                </span>
                                            </td>
                                            <td>
                                                <InputNumber class="col-12" @bind-Value="item.SortIndex"></InputNumber>
                                            </td>
                                            <td>
                                                <InputText class="col-12" @bind-Value="item.Name"></InputText>
                                            </td>
                                            <td>
                                                <InputSelect class="col-12"
                                                @bind-Value="item.TagId" style="direction:rtl"
                                                @oninput="(e => SelectedParameterListChanged(e,item))">
                                                    <option @if (item.TagId is null){"selected"} value="">

                                                    </option>
                                                    @foreach (var list_D_ParameterList in List_D_Tag)
                                                    {
                                                        <option value="@list_D_ParameterList.Id">
                                                            @list_D_ParameterList.DisplayName (@list_D_ParameterList.Name)
                                                        </option>
                                                    }
                                                </InputSelect>
                                            </td>
                                            <td>
                                                <InputSelect class="col-12"
                                                @bind-Value="item.OperandId" style="direction:rtl"
                                                @oninput="(e => SelectedOperandChanged(e,item))">
                                                    <option @if (item.TagId is null){"selected"} value="">

                                                    </option>
                                                    @foreach (var list_D_Operand in List_D_Operand)
                                                    {
                                                        <option value="@list_D_Operand.Id">
                                                            @list_D_Operand.DisplayName
                                                        </option>
                                                    }
                                                </InputSelect>
                                            </td>
                                            <td>
                                                @if (item.Tag is not null && item.Operand is not null)
                                                {
                                                    @if (item.Tag?.TagTypeId is not null)
                                                    {
                                                        @if (item.Tag?.TagTypeId == 1)
                                                        {
                                                            <InputNumber class="col-12" @bind-Value="item.FloatValue"></InputNumber>
                                                        }
                                                        else if (item.Tag?.TagTypeId == 2)
                                                        {
                                                            <InputCheckbox class="col-12" @bind-Value="item.BooleanValue"></InputCheckbox>
                                                        }
                                                        else if (item.Tag?.TagTypeId == 3)
                                                        {
                                                            <InputDate class="col-12" @bind-Value="item.Value"></InputDate>
                                                        }
                                                        else if (item.Tag?.TagTypeId == 4)
                                                        {
                                                            <InputText class="col-12" @bind-Value="item.Value"></InputText>

                                                        }
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <MudCheckBox Label=@(globalization.GetValue(nameof(Localization.BlazorServer_Enable)))
                                                             Checked="@Record.EnableRecord"
                                                             Color="Color.Primary"
                                                             CheckedIcon="@Icons.Material.Filled.Verified"
                                                             UnCheckedColor="Color.Error"
                                                             UncheckedIcon="@Icons.Material.Filled.DoNotDisturb"
                                                @onclick="args=>item.EnableRecord = !item.EnableRecord" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </Ctable>
                        }
                    </div>
                </div>


                <div class="row">
                    <center>
                        <MudButton Variant="Variant.Filled" Color="Color.Success"
                                   StartIcon="@Icons.Material.Filled.PersonAdd"
                                   style="align-self: center;"
                        @onclick="AddEndorsementPattern">
                            @(globalization.GetValue(nameof(Localization.BlazorServer_AddToEndorsements)))
                        </MudButton>
                    </center>
                    <div class="row">
                        @if ((Record as F_Scenario).Endorsements.Any())
                        {
                            <Ctable>
                                <caption>
                                    <div class="row my-1" style="justify-content: center;">
                                        <span class="col-2 text-success">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_EndorsementsList)))
                                        </span>
                                    </div>
                                </caption>
                                <thead>
                                    <tr style="width:90%">
                                        @* <th data-sortable="true" style="width:16%">اقدامات</th> *@
                                        <th data-sortable="true" aria-sort="ascending">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_RowId)))
                                        </th>
                                        <th data-sortable="true">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_SortIndex)))
                                        </th>
                                        <th data-sortable="true">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_FormName)))
                                        </th>
                                        <th data-sortable="true">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_RoleName)))
                                        </th>
                                        <th data-sortable="true">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Location)))
                                        </th>
                                        <th data-sortable="true">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Actions)))
                                        </th>
                                        <th data-sortable="true">
                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Enable)))
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (Record as F_Scenario).Endorsements.OrderBy(x => x.SortIndex))
                                    {
                                        <tr style="width:90%">
                                            <td>
                                                <span>
                                                    @(
                                                        (item.Id == 0) ? String.Empty : item.Id
                                                        )
                                                </span>
                                            </td>
                                            <td>
                                                <InputNumber @bind-Value="item.SortIndex"></InputNumber>
                                            </td>
                                            <td>
                                                <InputText @bind-Value="item.DisplayName"></InputText>
                                            </td>
                                            <td>
                                                <InputSelect @bind-Value="item.RoleId" style="direction:rtl"
                                                @oninput="(e => SelectedEndorsementChanged(e,item))">
                                                    @if (item.RoleId < 1)
                                                    {
                                                        <option selected value="">
                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_SelectOneItem)))
                                                        </option>
                                                    }
                                                    @foreach (var list_D_Role in List_D_Role)
                                                    {
                                                        <option value="@list_D_Role.Id">
                                                            @list_D_Role.DisplayName (@list_D_Role.Name)
                                                        </option>
                                                    }
                                                </InputSelect>
                                            </td>
                                            <td>
                                                <InputSelect @bind-Value="item.ConditionId" style="direction:rtl"
                                                @oninput="(e => SelectedConditionChanged(e,item))">
                                                    @if (item.ConditionId is null)
                                                    {
                                                        <option selected value="">
                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_SelectOneItem)))
                                                        </option>
                                                    }
                                                    @foreach (var condition in (Record as F_Scenario).Conditions)
                                                    {
                                                        <option value="@condition.Id">
                                                            @condition.Name
                                                        </option>
                                                    }
                                                </InputSelect>
                                            </td>
                                            <td>
                                                <center>
                                                    <button type="button" class="col-6 btn btn-primary"
                                                            style="align-self: center;"
                                                    @onclick="(e => Add_EndorsementItems(e,item))">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-database-fill-add" viewBox="0 0 16 16">
                                                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0ZM8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1Z" />
                                                            <path d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12.31 12.31 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7Zm6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.552 4.552 0 0 1 .23-2.002Zm-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.507 4.507 0 0 1-1.3-1.905Z" />
                                                        </svg>
                                                        @(globalization.GetValue(nameof(Localization.BlazorServer_AddActions)))
                                                    </button>
                                                </center>
                                                <div>
                                                    @if (item.EndorsementItems.Any())
                                                    {
                                                        <Ctable>
                                                            <thead>
                                                                <tr style="width:90%">
                                                                    <th data-sortable="true" aria-sort="ascending">
                                                                        @(globalization.GetValue(nameof(Localization.BlazorServer_RowId)))
                                                                    </th>
                                                                    <th data-sortable="true">
                                                                        @(globalization.GetValue(nameof(Localization.BlazorServer_SortIndex)))
                                                                    </th>
                                                                    <th data-sortable="true">
                                                                        @(globalization.GetValue(nameof(Localization.BlazorServer_Conditions)))
                                                                    </th>
                                                                    <th data-sortable="true">
                                                                        @(globalization.GetValue(nameof(Localization.BlazorServer_NextActions)))
                                                                    </th>
                                                                    <th data-sortable="true">
                                                                        @(globalization.GetValue(nameof(Localization.BlazorServer_CaseState)))
                                                                    </th>
                                                                    <th data-sortable="true">
                                                                        @(globalization.GetValue(nameof(Localization.BlazorServer_Enable)))
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var EndorsementItem in item.EndorsementItems
                                                               .OrderBy(x => x.SortIndex))
                                                                {
                                                                    <tr style="width:90%">
                                                                        <td>
                                                                            <span class="col-12">
                                                                                @((EndorsementItem.Id == 0) ? String.Empty : EndorsementItem.Id)
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <InputNumber class="col-12" @bind-Value="EndorsementItem.SortIndex"></InputNumber>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <button type="button" class="col-6 btn btn-primary"
                                                                                        style="align-self: center;"
                                                                                @onclick="(e => Add_EndorsementItemsCondition(e,EndorsementItem))">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-database-fill-add" viewBox="0 0 16 16">
                                                                                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0ZM8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1Z" />
                                                                                        <path d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12.31 12.31 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7Zm6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.552 4.552 0 0 1 .23-2.002Zm-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.507 4.507 0 0 1-1.3-1.905Z" />
                                                                                    </svg>
                                                                                    @(globalization.GetValue(nameof(Localization.BlazorServer_AddToConditions)))
                                                                                </button>
                                                                            </center>
                                                                            <Ctable>
                                                                                <thead>
                                                                                    <tr style="width:90%">
                                                                                        <th data-sortable="true" aria-sort="ascending">
                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_RowId)))
                                                                                        </th>
                                                                                        <th data-sortable="true">
                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_SortIndex)))
                                                                                        </th>
                                                                                        <th data-sortable="true">
                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Tag)))
                                                                                        </th>
                                                                                        <th data-sortable="true">
                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Operand)))
                                                                                        </th>
                                                                                        <th data-sortable="true">
                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_CellValue)))
                                                                                        </th>
                                                                                        <th data-sortable="true">
                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Enable)))
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var Condition in EndorsementItem.Conditions
                                                                                   .OrderBy(x => x.SortIndex))
                                                                                    {
                                                                                        <tr style="width:90%">
                                                                                            <td>
                                                                                                <span class="col-12">
                                                                                                    @((Condition.Id == 0) ? String.Empty : Condition.Id)
                                                                                                </span>
                                                                                            </td>
                                                                                            <td>
                                                                                                <InputNumber class="col-12" @bind-Value="Condition.SortIndex"></InputNumber>
                                                                                            </td>
                                                                                            <td>
                                                                                                <InputSelect class="col-12"
                                                                                                @bind-Value="Condition.TagId" style="direction:rtl"
                                                                                                @oninput="(e => SelectedParameterListChanged(e,Condition))">
                                                                                                    @if (Condition.TagId is null || Condition.TagId < 1)
                                                                                                    {
                                                                                                        <option selected value="">
                                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_SelectOneItem)))
                                                                                                        </option>
                                                                                                    }
                                                                                                    @foreach (var list_D_ParameterList in List_D_Tag)
                                                                                                    {
                                                                                                        <option value="@list_D_ParameterList.Id">
                                                                                                            @list_D_ParameterList.DisplayName (@list_D_ParameterList.Name)
                                                                                                        </option>
                                                                                                    }
                                                                                                </InputSelect>
                                                                                            </td>
                                                                                            <td>
                                                                                                <InputSelect class="col-12"
                                                                                                @bind-Value="Condition.OperandId" style="direction:rtl"
                                                                                                @oninput="(e => SelectedOperandChanged(e,Condition))">
                                                                                                    @if (Condition.OperandId is null)
                                                                                                    {
                                                                                                        <option selected value="">
                                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_SelectOneItem)))
                                                                                                        </option>
                                                                                                    }
                                                                                                    @foreach (var list_D_Operand in List_D_Operand)
                                                                                                    {
                                                                                                        <option value="@list_D_Operand.Id">
                                                                                                            @list_D_Operand.DisplayName
                                                                                                        </option>
                                                                                                    }
                                                                                                </InputSelect>
                                                                                            </td>
                                                                                            <td>
                                                                                                @if (Condition.TagId is not null)
                                                                                                {
                                                                                                    @if (Condition.Tag?.TagTypeId is not null)
                                                                                                    {
                                                                                                        @if (Condition.Tag?.TagTypeId == 1)
                                                                                                        {
                                                                                                            <InputNumber class="col-12" @bind-Value="Condition.FloatValue"></InputNumber>
                                                                                                        }
                                                                                                        else if (Condition.Tag?.TagTypeId == 2)
                                                                                                        {
                                                                                                            <InputCheckbox class="col-12" @bind-Value="Condition.BooleanValue"></InputCheckbox>
                                                                                                        }
                                                                                                        else if (Condition.Tag?.TagTypeId == 3)
                                                                                                        {
                                                                                                            <InputDate class="col-12" @bind-Value="Condition.Value"></InputDate>
                                                                                                        }
                                                                                                        else if (Condition.Tag?.TagTypeId == 4)
                                                                                                        {
                                                                                                            <InputText class="col-12" @bind-Value="Condition.Value"></InputText>

                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            </td>
                                                                                            <td>
                                                                                                <MudCheckBox Label=@(globalization.GetValue(nameof(Localization.BlazorServer_Enable)))
                                                                                                             Checked="@Condition.EnableRecord"
                                                                                                             Color="Color.Primary"
                                                                                                             CheckedIcon="@Icons.Material.Filled.Verified"
                                                                                                             UnCheckedColor="Color.Error"
                                                                                                             UncheckedIcon="@Icons.Material.Filled.DoNotDisturb"
                                                                                                @onclick="args=>Condition.EnableRecord = !Condition.EnableRecord" />
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </Ctable>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <button type="button" class="col-6 btn btn-primary"
                                                                                        style="align-self: center;"
                                                                                @onclick="(e => Add_EndorsementItemsEndorsement(e,EndorsementItem))">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-database-fill-add" viewBox="0 0 16 16">
                                                                                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0ZM8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1Z" />
                                                                                        <path d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12.31 12.31 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7Zm6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.552 4.552 0 0 1 .23-2.002Zm-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.507 4.507 0 0 1-1.3-1.905Z" />
                                                                                    </svg>
                                                                                    @(globalization.GetValue(nameof(Localization.BlazorServer_AddNextAction)))
                                                                                </button>
                                                                            </center>
                                                                            <Ctable>
                                                                                <thead>
                                                                                    <tr style="width:90%">
                                                                                        <th data-sortable="true" aria-sort="ascending">
                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_RowId)))
                                                                                        </th>
                                                                                        <th data-sortable="true">
                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_SortIndex)))
                                                                                        </th>
                                                                                        <th data-sortable="true">
                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Action)))
                                                                                        </th>
                                                                                        <th data-sortable="true">
                                                                                            @(globalization.GetValue(nameof(Localization.BlazorServer_Enable)))
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var Endorsement in EndorsementItem.Endorsements
                                                                                   .OrderBy(x => x.SortIndex))
                                                                                    {
                                                                                        <tr style="width:90%">
                                                                                            <td>
                                                                                                <span class="col-12">
                                                                                                    @((Endorsement.Id == 0) ? String.Empty : Endorsement.Id)
                                                                                                </span>
                                                                                            </td>
                                                                                            <td>
                                                                                                <InputNumber class="col-12" @bind-Value="Endorsement.SortIndex"></InputNumber>
                                                                                            </td>
                                                                                            <td>
                                                                                                <InputSelect @bind-Value="Endorsement.SecondId" style="direction:rtl"
                                                                                                @oninput="(e => SelectedToEndorsementChanged(e,Endorsement))">
                                                                                                    <option selected value="">
                                                                                                        @(globalization.GetValue(nameof(Localization.BlazorServer_SelectOneItem)))
                                                                                                    </option>
                                                                                                    @foreach (var ToEndorsement in (Record as F_Scenario).Endorsements.OrderBy(x => x.SortIndex))
                                                                                                    {
                                                                                                        <option value="@ToEndorsement.Id">
                                                                                                            @ToEndorsement.DisplayName
                                                                                                        </option>
                                                                                                    }
                                                                                                </InputSelect>
                                                                                            </td>
                                                                                            <td>
                                                                                                <MudCheckBox Label=@(globalization.GetValue(nameof(Localization.BlazorServer_Enable)))
                                                                                                             Checked="@Endorsement.EnableRecord"
                                                                                                             Color="Color.Primary"
                                                                                                             CheckedIcon="@Icons.Material.Filled.Verified"
                                                                                                             UnCheckedColor="Color.Error"
                                                                                                             UncheckedIcon="@Icons.Material.Filled.DoNotDisturb"
                                                                                                @onclick="args=>Endorsement.EnableRecord = !Endorsement.EnableRecord" />
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </Ctable>
                                                                        </td>
                                                                        <td>
                                                                            <InputSelect @bind-Value="EndorsementItem.CaseStateId" style="direction:rtl"
                                                                            @oninput="(e => SelectedCaseStateChanged(e,EndorsementItem))">
                                                                                @if (EndorsementItem.CaseStateId is null || EndorsementItem.CaseStateId < 1)
                                                                                {
                                                                                    <option selected value="">
                                                                                        @(globalization.GetValue(nameof(Localization.BlazorServer_SelectOneItem)))
                                                                                    </option>
                                                                                }
                                                                                @foreach (var CaseState in List_CaseState)
                                                                                {
                                                                                    <option value="@CaseState.Id">
                                                                                        @CaseState.DisplayName
                                                                                    </option>
                                                                                }
                                                                            </InputSelect>
                                                                        </td>
                                                                        <td>
                                                                            <MudCheckBox Label=@(globalization.GetValue(nameof(Localization.BlazorServer_Enable)))
                                                                                         Checked="@EndorsementItem.EnableRecord"
                                                                                         Color="Color.Primary"
                                                                                         CheckedIcon="@Icons.Material.Filled.Verified"
                                                                                         UnCheckedColor="Color.Error"
                                                                                         UncheckedIcon="@Icons.Material.Filled.DoNotDisturb"
                                                                            @onclick="args=>EndorsementItem.EnableRecord = !EndorsementItem.EnableRecord" />
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </Ctable>
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <MudCheckBox Label=@(globalization.GetValue(nameof(Localization.BlazorServer_Enable)))
                                                             Checked="@item.EnableRecord"
                                                             Color="Color.Primary"
                                                             CheckedIcon="@Icons.Material.Filled.Verified"
                                                             UnCheckedColor="Color.Error"
                                                             UncheckedIcon="@Icons.Material.Filled.DoNotDisturb"
                                                @onclick="args=>item.EnableRecord = !item.EnableRecord" />

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </Ctable>
                        }
                    </div>
                </div>
                <LinkComponent Records="@LinkRecords"
                               reference="@reference"
                               Title=@(globalization.GetValue(nameof(Localization.BlazorServer_ScenariosInProcess), new String[] { Record?.DisplayName}))>
                </LinkComponent>
            }
        </div>
    </RowTemplate>
</CEditDimentions>
@code {

    public List<BaseEntity> List_D_Role { get; set; } = new();
    public List<BaseEntity> List_D_Tag { get; set; } = new();
    public List<BaseEntity> List_D_Operand { get; set; } = new();
    public List<BaseEntity> List_CaseState { get; set; } = new();
    public List<BaseEntity> List_D_TagType { get; set; } = new();

    public override async Task ExtendedLoadDTO()
    {
        List_D_Role = await simpleClassRepository.GetAllByName(nameof(D_Role)) as List<BaseEntity>;
        List_D_Tag = await simpleClassRepository.GetAllByName(nameof(D_Tag)) as List<BaseEntity>;
        List_D_Operand = await simpleClassRepository.GetAllByName(nameof(D_Operand)) as List<BaseEntity>;
        List_CaseState = await simpleClassRepository.GetAllByName(nameof(D_CaseState)) as List<BaseEntity>;
        List_D_TagType = await simpleClassRepository.GetAllByName(nameof(D_TagType)) as List<BaseEntity>;
        AllRecords = await simpleClassRepository.GetAllByName(nameof(D_Process));
        AllLink = await simpleClassRepository.GetAllLink(nameof(L_ProcessScenario), nameof(LinkProperty.Second), Id);


        // simpleClassRepository.GetAllLink(nameof(L_TagEndorsement), nameof(LinkProperty.Second), Id);

        this.LinkRecords = new SimpleLinkClassDTO()
            {
                LinkType = nameof(L_ProcessScenario),
                FirstType = nameof(D_Process),
                SecondType = nameof(F_Scenario),
                FixedId = Id,
                Sd_Status = nameof(LinkProperty.Second),
                FloatState = AllRecords.Select(x => new KeyValuePair<Tuple<long?, string>, Boolean>(
                    new Tuple<long?, string>(x.Id, x.DisplayName),
                    AllLink.Any(y => y.FirstId == x.Id && y.SecondId == Id)))
                        .ToDictionary(x => x.Key, x => x.Value)
            };
    }

    private string GetMultiSelectionText(BaseEntity selectedValues)
    {
        return $"{string.Join(", ", selectedValues?.DisplayName)}";
    }

    private async Task SelectedOperandChanged(ChangeEventArgs e, F_Condition f_Condition)
    {
        if (String.IsNullOrEmpty(e.ToString()))
        {
            f_Condition.OperandId = null;
            f_Condition.Operand = null;
        }
        else
        {
            var _D_OperandId = Int64.Parse(e.Value.ToString());

            f_Condition.Operand = List_D_Operand
            .First(x => x.Id == _D_OperandId) as D_Operand;
        }
    }

    private async Task SelectedParameterListChanged(ChangeEventArgs e, F_Condition f_Condition)
    {
        if (Id > 0 && e.Value is not null)
        {
            var _D_ParameterListId = Int64.Parse(e.Value.ToString());

            f_Condition.Tag = List_D_Tag
            .First(x => x.Id == _D_ParameterListId) as D_Tag;
        }
    }

    private async Task Add_EndorsementItemsEndorsement(MouseEventArgs e, F_EndorsementItem cObject)
    {
        var _Endorsement = new L_EndorsementItemEndorsement();

        ICollection<L_EndorsementItemEndorsement> _Endorsements = cObject.Endorsements;

        if (_Endorsements.Any())
        {
            _Endorsement.SortIndex = _Endorsements.Max(x => x.SortIndex) + 1;
        }
        else
        {
            _Endorsement = await simpleClassRepository
            .GetLast(nameof(L_EndorsementItemEndorsement)) as L_EndorsementItemEndorsement;
        }

        cObject.Endorsements.Add(_Endorsement);
    }

    private async Task Add_EndorsementItemsCondition(MouseEventArgs e, F_EndorsementItem cObject)
    {
        var _Condition = new F_Condition();

        ICollection<F_Condition> _Conditions = cObject.Conditions;

        if (_Conditions.Any())
        {
            _Condition.SortIndex = _Conditions.Max(x => x.SortIndex) + 1;
        }
        else
        {
            _Condition = await simpleClassRepository
            .GetLast(nameof(F_Condition)) as F_Condition;
        }

        cObject.Conditions.Add(_Condition);
    }

    private async Task Add_EndorsementItems(MouseEventArgs e, F_Endorsement cObject)
    {
        var _EndorsementItem = new F_EndorsementItem();

        ICollection<F_EndorsementItem> _EndorsementItems = cObject.EndorsementItems;

        if (_EndorsementItems.Any())
        {
            _EndorsementItem.SortIndex = _EndorsementItems.Max(x => x.SortIndex) + 1;
        }
        else
        {
            _EndorsementItem = await simpleClassRepository.GetLast(nameof(F_EndorsementItem)) as F_EndorsementItem;
        }

        cObject.EndorsementItems.Add(_EndorsementItem);
    }

    private async Task AddConditions(MouseEventArgs e, F_Scenario cObject)
    {
        var Condition = new F_Condition();

        var baseType = cObject.GetType().BaseType;

        ICollection<F_Condition> Conditions = cObject.Conditions;

        if (Conditions.Any())
        {
            Condition.SortIndex = Conditions.Max(x => x.SortIndex) + 1;
        }
        else
        {
            Condition = await simpleClassRepository.GetLast(nameof(F_Condition)) as F_Condition;
        }

        Condition.Tag = List_D_Tag.First() as D_Tag;
        Condition.Operand = List_D_Operand.First() as D_Operand;
        cObject.Conditions.Add(Condition);
    }

    private async Task AddEndorsementPattern()
    {
        var d_Endorsement = new F_Endorsement();

        var eP_Endorsements = (Record as F_Scenario).Endorsements;

        if (eP_Endorsements.Any())
        {
            d_Endorsement.SortIndex = eP_Endorsements.Max(x => x.SortIndex) + 1;
        }
        else
        {
            d_Endorsement = await simpleClassRepository.GetLast(nameof(F_Endorsement)) as F_Endorsement;
        }

        d_Endorsement.Role = List_D_Role.First() as D_Role;

        (Record as F_Scenario).Endorsements.Add(d_Endorsement);
    }

    private async Task SelectedEndorsementChanged(ChangeEventArgs e, F_Endorsement d_Endorsement)
    {
        if (Id > 0 && e.Value is not null)
        {
            var _D_Role = Int64.Parse(e.Value.ToString());

            d_Endorsement.Role = List_D_Role
            .First(x => x.Id == _D_Role) as D_Role;
        }
    }

    private async Task SelectedCaseStateChanged(ChangeEventArgs e, F_EndorsementItem f_EndorsementItem)
    {
        if (Id > 0 && e.Value is not null)
        {
            var CaseStateId = Int64.Parse(e.Value.ToString());

            f_EndorsementItem.CaseState = List_CaseState
            .First(x => x.Id == CaseStateId) as D_CaseState;
        }
    }

    private async Task SelectedToEndorsementChanged(ChangeEventArgs e, L_EndorsementItemEndorsement endorsementSelector)
    {
        if (Id > 0 && e.Value is not null)
        {
            var ToEndorsementId = Int64.Parse(e.Value.ToString());

            endorsementSelector.Endorsement = (Record as F_Scenario).Endorsements
            .First(x => x.Id == ToEndorsementId) as F_Endorsement;
        }
        else
        {
            endorsementSelector.Endorsement = null;
        }
    }
    private async Task SelectedConditionChanged(ChangeEventArgs e, F_Endorsement endorsement)
    {
        if (Id > 0 && e.Value is not null)
        {
            var conditionId = Int64.Parse(e.Value.ToString());

            endorsement.Condition = (Record as F_Scenario).Conditions
            .First(x => x.Id == conditionId) as F_Condition;
        }
    }

}