@typeparam TEntity where TEntity : SimpleClass
@inject ISimpleClassRepository simpleClassRepository;
@inject NavigationManager _NavigationManager;
@inject IJSRuntime _JsRuntime
@inject CNavigation _CNavigation;

<div class="row my-4" style="direction:rtl">
    @*  <div class="alert alert-primary mb-3 ml-3" role="alert">
    @Title @Name
    </div>*@

    <div class="col-12">
        @if (!IsLoading)
        {
            <EditForm Model="Record" OnValidSubmit="UpsertTask">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <CInput @bind-LValue="Record.Id"
                        CDescription="شناسه یکتا سیستمی"
                        CDisplayName="شناسه" CFieldType="@(FieldType.CID)"></CInput>
                    <CInput @bind-BValue="Record.DsblRecord"
                        CDescription="جهت غیرفعال سازی"
                        CDisplayName="غیرفعال" CFieldType="@(FieldType.CBool)"></CInput>
                    @if (RowTemplate is not null)
                    {
                        @RowTemplate
                    }
                </div>
                <div class="form-group col-6 mx-auto my-1">
                    <div class="btn-group" role="group" aria-label="Basic example" style="direction: ltr">
                        <button class="btn btn-primary">
                            @Title
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                            </svg>
                        </button>
                        <div type="button" class="btn btn-info"
                         @onclick="@(e => _CNavigation.BackNavigation(_NavigationManager))">
                            برگشت
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </EditForm>
        }
    </div>
</div>
<CLoading IsLoading="@IsLoading" AnyRecord="@true"></CLoading>

@code {
    [Parameter]
    public Boolean IsLoading { get; set; } = true;
    [Parameter]
    public long? Id { get; set; }
    [Parameter]
    public long? LinkId { get; set; } = 0;
    [Parameter]
    public TEntity Record { get; set; }
    [Parameter]
    public String? reference { get; set; }
    [Parameter]
    public String? Name { get; set; }
    [Parameter]
    public String? type { get; set; }
    [Parameter]
    public String? Title { get; set; }
    [Parameter]
    public RenderFragment? RowTemplate { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        //_JsRuntime.InvokeVoidAsync("CreateToolTip");
    }


    private async Task UpsertTask()
    {
        if (Record.Id > 0)
        {
            Record = await simpleClassRepository.Update(Record) as TEntity;
            await _JsRuntime.ToastrSuccess($"ردیف {Record.PDescription} با موفقیت ذخیره شد");
        }
        else
        {
            Record = await simpleClassRepository.Create(Record) as TEntity;
            await _JsRuntime.ToastrSuccess("ردیف با موفقیت ایجاد شد");
        }
        _CNavigation.BackNavigation(_NavigationManager);

    }

}
