@typeparam TEntity where TEntity : SimpleClass
@inject ISimpleClassRepository simpleClassRepository;
@inject NavigationManager _NavigationManager;
@inject IJSRuntime _JsRuntime

<div class="row my-4" style="direction:rtl">
    <div class="alert alert-primary  mb-3 ml-3" role="alert">
        @Title @Name
    </div>
    @*<h3 class="card-title text-primary mb-3 ml-3">@Title @Name</h3>*@
    <div class="col-10">
        @if (IsLoading)
        {
            <center><img src="imeges/Gears.png" /></center>
            @*<h1>در حال بارگیری اطلاعات ...</h1>*@
        }
        else if (Record != null)
        {
            <EditForm Model="Record" OnValidSubmit="UpsertTask">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="shadow rounded p-3 form-group mx-1 my-1 col-sm-11 col-md-5" hidden="@(Record.Id < 1)">
                        <div class="input-group" style="direction:ltr">
                            <input @bind="Record.Id" disabled="disabled" class="form-control" aria-describedby="basic-addon2" lang="fa" dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="border-radius:revert;width: 7em;font-size:large;" lang="fa" dir="rtl">شناسه</span>
                            </div>
                        </div>
                    </div>

                    <div class="shadow rounded p-3 form-group mx-1 my-1 col-sm-11 col-md-5">
                        <div class="input-group" style="direction:ltr">
                            <InputNumber @bind-Value="Record.PCode" class="form-control"
                                     aria-describedby="basic-addon2" lang="fa" dir="rtl"
                                     data-toggle="popover" data-trigger="focus" data-content="Click anywhere in the document to close this popover"></InputNumber>
                            <ValidationMessage For="@(() => Record.PCode)" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="border-radius:revert;width: 7em;font-size:large;" lang="fa" dir="rtl">کد</span>
                            </div>
                        </div>
                    </div>

                    <div class="shadow rounded p-3 form-group mx-1 my-1 col-sm-11 col-md-5">
                        <div class="input-group" style="direction:ltr">
                            <InputNumber @bind-Value="Record.PIndex" class="form-control" aria-describedby="basic-addon2" lang="fa" dir="rtl"></InputNumber>
                            <ValidationMessage For="@(() => Record.PIndex)" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="border-radius:revert;width: 7em;font-size:large;" lang="fa" dir="rtl">ایندکس</span>
                            </div>
                        </div>
                    </div>

                    <div class="shadow rounded p-3 form-group mx-1 my-1 col-sm-11 col-md-5">
                        <div class="input-group" style="direction:ltr">
                            <InputText @bind-Value="Record.PDescription" class="form-control" aria-describedby="basic-addon2" lang="fa" dir="rtl"></InputText>
                            <ValidationMessage For="@(() => Record.PDescription)" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="border-radius:revert;width: 7em;font-size:large;" lang="fa" dir="rtl">نام نمایشی</span>
                            </div>
                        </div>
                    </div>
                    <div class="shadow rounded p-3 form-group mx-1 my-1 col-sm-11 col-md-5">
                        <div class="input-group" style="direction:ltr">
                            <InputText @bind-Value="Record.PName" class="form-control" aria-describedby="basic-addon2" lang="fa" dir="rtl"></InputText>
                            <ValidationMessage For="@(() => Record.PName)" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="border-radius:revert;width: 7em;font-size:large;" lang="fa" dir="rtl">نام</span>
                            </div>
                        </div>
                    </div>
                    <div class="shadow rounded p-3 form-group mx-1 my-1 col-sm-11 col-md-5">
                        <div class="input-group" style="direction:rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="border-radius:revert;width: 7em;font-size:large;" lang="fa" dir="rtl">غیرفعال</span>
                            </div>
                            <div class="form-check form-switch" style="float:right">
                                <input class="form-check-input" type="checkbox" role="switch"
                                   @bind="Record.DsblRecord" style="width:5em;height: 100%;border-radius: revert;margin-top: 0px;">
                            </div>
                            <ValidationMessage For="@(() => Record.DsblRecord)" />
                        </div>
                    </div>
                    @if (RowTemplate is not null)
                    {
                        @RowTemplate
                    }
                    <br />
                </div>
                <div class="form-group py-2 col-lg-4 col-lg-offset-4" style="direction: ltr">
                    <div class="btn-group" role="group" aria-label="Basic example" style="width: 20em;">
                        <button class="btn btn-primary">@Title</button>
                        @if (type == SD.First || type == SD.Second)
                        {
                            @if (LinkId != 0)
                            {
                                <NavLink href="@($"Dimentions/Parameters/List/{Name}/{type}/{LinkId}/{reference}")" class="btn btn-secondary">برگشت</NavLink>
                            }
                            else
                            {
                                <NavLink href="@($"Dimentions/Parameters/List/{Name}/{type}/{Id}/{reference}")" class="btn btn-secondary">برگشت</NavLink>
                            }
                        }
                        else
                        {
                            <NavLink href="@($"Dimentions/Parameters/List/{Name}")"
                             class="btn btn-secondary">برگشت</NavLink>
                        }
                    </div>
                </div>
            </EditForm>
        }
    </div>
</div>

@code {
    [Parameter]
    public Boolean IsLoading { get; set; } = true;
    [Parameter]
    public long? Id { get; set; }
    [Parameter]
    public long? LinkId { get; set; } = 0;
    [Parameter]
    public TEntity Record { get; set; }
    [Parameter]
    public String? reference { get; set; }
    [Parameter]
    public String? Name { get; set; }
    [Parameter]
    public String? type { get; set; }
    [Parameter]
    public String? Title { get; set; }
    [Parameter]
    public RenderFragment? RowTemplate { get; set; }

    private async Task UpsertTask()
    {
        if (Record.Id > 0)
        {
            Record = await simpleClassRepository.Update(Record) as TEntity;
            await _JsRuntime.ToastrSuccess($"ردیف {Record.PDescription} با موفقیت ذخیره شد");
        }
        else
        {
            Record = await simpleClassRepository.Create(Record) as TEntity;
            await _JsRuntime.ToastrSuccess("ردیف با موفقیت ایجاد شد.");
        }

        if (type == SD.First || type == SD.Second)
        {
            _NavigationManager.NavigateTo($"Dimentions/Parameters/List/{Name}/{type}/{LinkId}/{reference}");
        }
        else
        {
            _NavigationManager.NavigateTo($"Dimentions/Parameters/List/{Name}");
        }
    }
}