@inherits SharedPage
@inject IDialogService DialogService

@if (Records != null && Records.Any())
{
    <Ctable>
        <thead>
            <tr style="width:90%">
                <th style="width:8%" aria-sort="ascending">شناسه</th>
                <th style="width:8%">ایندکس</th>
                <th style="width:16%">نام</th>
                <th style="width:16%">نام نمایشی</th>
                <th style="width:16%">متن راهنما</th>
                <th style="width:8%">غیرفعال</th>
                @HeaderTemplate
                <th style="width:16%">اقدام</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Records as IEnumerable<SimpleClass>)
            {
                <tr style="width:90%">
                    <td style="width:8%"><span style="align-self:center"> @(item.Id)</span></td>
                    <td style="width:8%"><span style="align-self:center"> @(item.SortIndex)</span></td>
                    <td style="width:16%"><span style="align-self:center"> @(item.Name)</span></td>
                    <td style="width:16%"><span style="align-self:center"> @(item.DisplayName)</span></td>
                    <td style="width:16%"><span style="align-self:center"> @(item.Description)</span></td>
                    <td style="width:8%">
                        <div class="form-check form-switch" style="align-self:center">
                            <input class="form-check-input" type="checkbox" role="switch" disabled
                                   style="width:3em"
                                   checked="@(item.DsblRecord)">
                        </div>
                    </td>
                    @RowTemplate
                    <td style="width:16%">
                        <MudButtonGroup OverrideStyles="false">
                            <MudButton Color="Color.Info"
                                       Variant="Variant.Filled"
                                       StartIcon="@Icons.Material.Filled.Edit"
                                       data-bs-target="#exampleModal"
                                       OnClick="()=>PrepareLink(item.Id, CrudOperation.Update)">
                                ویرایش
                            </MudButton>
                            <MudButton Color="Color.Error"
                                       Variant="Variant.Filled"
                                       StartIcon="@Icons.Material.Filled.DeleteForever"
                                       OnClick="()=>HandleDelete((item as SimpleClass).Id)">
                                حذف
                            </MudButton>
                        </MudButtonGroup>
                    </td>
                </tr>
            }
        </tbody>
    </Ctable>

    <MudMessageBox @ref="mbox" Title="هشدار" CancelText="انصراف">
        <MessageContent>
            آیا از حذف ردیف اطمینان دارید؟
        </MessageContent>
        <YesButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error"
                       StartIcon="@Icons.Material.Filled.DeleteForever">حذف</MudButton>
        </YesButton>
    </MudMessageBox>
}
<style>
    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>
@code {

    MudDialog C_MudDialog { get; set; }
    MudMessageBox mbox { get; set; }

    public async Task PrepareLink(long? getId, CrudOperation getCrudOperation)
    {

        LoadData = true;
        Id = getId;
        if (getCrudOperation == CrudOperation.Create)
        {
            Href = $"/Dimentions/Create/{Name}/{reference}";
        }
        else
        {
            if (String.IsNullOrEmpty(type))
            {
                Href = $"Dimentions/Edit/{Name}/{Id}/{reference}";
            }
            else
            {
                Href = $"Links/Edit/{Name}/{type}/{Id}/{reference}";
            }
        }

        Title = new UpsertStatus().GetPageTitle(Id).Value;

        var options = new DialogOptions
            {
                ClassBackground = "my-custom-class",
                MaxWidth = MaxWidth.Medium
            };

        var parameters = new DialogParameters<Dialog>();

        parameters.Add(x => x.Name, Name);
        parameters.Add(x => x.ParentCallback, ParentCallback);
        parameters.Add(x => x.Id, Id);
        parameters.Add(x => x.LoadData, LoadData);
        parameters.Add(x => x.IsLoading, IsLoading);
        parameters.Add(x => x.reference, reference);
        parameters.Add(x => x.Href, Href);
        parameters.Add(x => x.Title, Title);
        parameters.Add(x => x.ButtonText, "ذخیره");
        parameters.Add(x => x.Color, Color.Success);

        var dialogresult = await DialogService.ShowAsync<Dialog>("ویرایش ردیف", parameters, options);

        var result = await dialogresult.Result;

        if (!result.Cancelled && bool.TryParse(result.Data.ToString(), out bool resultbool))
        {
            await ParentCallback.InvokeAsync();
            StateHasChanged();
        }
    }

    private async Task HandleDelete(long? DeletedState)
    {
        Id = DeletedState;
        bool? result = await mbox.Show();
        if (result.HasValue && result.Value)
        {
            await simpleClassRepository.delete(Name, Id);
        }
    }
}