@page "/AI"
@attribute [Authorize]
@inherits MyComponentBase
@using BlazorServerResource = Cheetah.Presentation.Web.Blazor.Server.Resx.Localization
@using Cheetah.Sample.Presentation.Web.Blazor.Server.AI
@using Ganss.Xss
@using Markdig
@using Microsoft.SemanticKernel
@using Microsoft.SemanticKernel.ChatCompletion
@using Microsoft.SemanticKernel.Connectors.OpenAI
@inject IJSRuntime JSRuntime;
@inject IChatCompletionService ChatCompletionService
@inject Kernel kernel;
@inject NavigationManager navigationManager
@inject IConfiguration Configuration

@if (bool.Parse(@Configuration["AI:Enable"]!))
{
    <PageTitle>دستیار هوشمند</PageTitle>
    <MudContainer MaxWidth="MaxWidth.False" Class="google-page-style mt-5">
        <!-- Google Logo Section -->
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12">
                <img src="/imeges/ai.jfif" alt="Google Logo" class="google-logo" />
            </MudItem>
        </MudGrid>

        <!-- Search Input Field with Icons -->
        <MudGrid Justify="Justify.Center" Spacing="2">
            <MudItem xs="10" md="8" lg="6" Class="search-container">
                <MudPaper Class="search-bar" Elevation="3">
                    <MudIconButton Icon="@Icons.Material.Filled.Search" Disabled="disableSubmit" Color="Color.Dark" OnClick="SendMessage" />
                    <MudTextField @bind-Value="userInput"
                                  Immediate="true" Disabled="disableSubmit"
                                  OnKeyDown="HandleKeyDown" @ref="_MudTextField" TextChanged="InputTextChanged"
                                  Placeholder="پرسش خود را از سیستم بپرسید" FullWidth="true" HideBorder="true" Class="search-input" />
                    <MudIconButton Icon="@Icons.Material.Filled.Mic" Color="Color.Dark" />
                </MudPaper>
            </MudItem>
        </MudGrid>

        <!-- Buttons -->
        <MudGrid Justify="Justify.Center" Spacing="1" Class="google-button-section">
            <MudItem>
                <MudButton OnClick="SendMessage" Disabled="disableSubmit"
                           Variant="Variant.Filled" Color="Color.Primary">جستجو دقیق</MudButton>
            </MudItem>
            <MudItem>
                <MudButton OnClick="SendMessage" Disabled="disableSubmit"
                           Variant="Variant.Filled" Color="Color.Primary">جستجوی اکتشافی</MudButton>
            </MudItem>
        </MudGrid>
    </MudContainer>
    @if (_hTMLResponse.Length > 0)
    {
        <MudContainer Class="mt-12">
            <MudCard>
                <MudCardContent>
                    <br />
                    <MudText Typo="Typo.h6">پرسش:</MudText>
                    <MudText Typo="Typo.body1">@question</MudText>
                    <br />
                    <MudText Typo="Typo.h6">پاسخ:</MudText>
                    @* <MudText Typo="Typo.body2">@_aIResponse</MudText> *@
                    <div> @((MarkupString)_hTMLResponse)</div>
                </MudCardContent>
            </MudCard>
        </MudContainer>
    }
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            direction: rtl; /* Set the direction to right-to-left */
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: right; /* Optional: Align text to the left */
        }

        th {
            background-color: #f2f2f2; /* Optional: Add background color to headers */
        }
    </style>
    <style>
        .google-page-style {
            text-align: center;
        }

        .google-logo {
            width: 270px;
            margin-bottom: 20px;
        }

        .top-navigation {
            padding: 10px 20px;
        }

            .top-navigation .nav-item {
                margin: 0 10px;
            }

            .top-navigation a {
                text-decoration: none;
                color: #000;
            }

        .search-container {
            margin: auto;
        }

        .search-bar {
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 24px;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
        }

            .search-bar:hover {
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
                transform: scale(1.02);
            }

        .search-input {
            flex: 1;
            border: none;
            outline: none;
        }

        .google-btn {
            min-width: 160px; /* Ensure the buttons are wide enough for content */
        }

        .google-button-section {
            margin-top: 20px;
        }
    </style>
}
@code {
    private string userInput = String.Empty;
    private string question = String.Empty;
    ChatHistory _chathistory = new();
    String _aIResponse = String.Empty;
    String _hTMLResponse = String.Empty;
    bool disableSubmit = false;
    public List<UserGuideItem>? items = new();
    private MudTextField<string> _MudTextField = new();
    private async Task InputTextChanged(string value)
    {
        if (!String.IsNullOrEmpty(value) && value.TrimEnd().EndsWith("ارسال"))
        {
            await SendMessage();
            await _MudTextField.Clear();
            await _MudTextField.FocusAsync();
        }
    }
    OpenAIPromptExecutionSettings executionSettings = new OpenAIPromptExecutionSettings
        {
            Temperature = 0.0,
            TopP = 1,
            Seed = 0
        };
    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        // Check if the Enter key was pressed
        if (e.Key == "Enter")
        {
            await SendMessage();
            await _MudTextField.Clear();
            await _MudTextField.FocusAsync();
        }
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            items = await GetAllItems();
            foreach (var item in items)
            {
                _chathistory.AddSystemMessage(nameof(item.JsonData) + ":" +
                item.JsonData + "\n" +
                nameof(item.Body) + ":" + item.Body + "\n"
                );
            }
            _chathistory.AddSystemMessage("Only respond using the information from my previous system messages. Your answers should be highly accurate and focus solely on that information.");
            // StateHasChanged();
        }
        await _MudTextField.FocusAsync();
    }
    private async Task SendMessage()
    {
        if (!string.IsNullOrWhiteSpace(userInput))
        {
            userInput = userInput.TrimEnd("ارسال".ToCharArray());
            question = userInput;
            disableSubmit = true;
            _aIResponse = String.Empty;
            _chathistory.AddUserMessage(question);

            // var response = await ChatCompletionService.GetChatMessageContentsAsync(
            //     chatHistory: _chathistory,
            //     kernel: kernel,
            //     executionSettings: executionSettings);

            var response = ChatCompletionService
            .GetStreamingChatMessageContentsAsync(
                chatHistory: _chathistory,
                executionSettings: executionSettings
            );

            var pipeline = new MarkdownPipelineBuilder()
            .UseAdvancedExtensions() // This includes the table extension
            .Build();

            await foreach (var chunk in response)
            {
                _aIResponse += chunk;
                _hTMLResponse = Markdown.ToHtml(_aIResponse, pipeline);
                // Sanitize the HTML
                // var sanitizer = new HtmlSanitizer();
                // _hTMLResponse = sanitizer.Sanitize(html);
                StateHasChanged();
            }

            _hTMLResponse = Markdown.ToHtml(_aIResponse, pipeline);
            // StateHasChanged();
            _chathistory.AddAssistantMessage(_aIResponse);
            userInput = String.Empty;
            disableSubmit = false;
        }
    }
    private async Task<List<UserGuideItem>?> GetAllItems()
    {
        items = await httpClient
        .GetFromJsonAsync<List<UserGuideItem>>("AI/Queries/ListUserGuides");
        return items;
    }
}