@page "/Dimentions/Parameters/List"
@page "/Dimentions/Parameters/List/{Name}"
@page "/Dimentions/Parameters/List/{Name}/{reference}"
@page "/Dimentions/Parameters/List/{Name}/{type}/{Id:long}/{FirstPart}/{reference}"
@using System.Web;

@inject ISimpleClassRepository simpleClassRepository;
@inject IJSRuntime _jSRuntime;
@inject NavigationManager _NavigationManager;
@inject CNavigation _CNavigation;
<NavigationComponent _CNavigation="@_CNavigation" />
@if (Records != null)
{
    <_DeleteConfirmation IsParntComponentProcessing="IsLoading"
                     ConfirmationChanged="ConfirmDelete_Click"></_DeleteConfirmation>
}
<div style="direction:rtl">
    @if (keyValuePair != null && type != SD.First && type != SD.Second)
    {
        <div class="row mt-4">
            <div class="col-6">
                <div class="form-group">
                    <div class="alert alert-primary" role="alert">
                        انتخاب پارامتر
                    </div>
                    <select id="exampleFormControlSelect1"
                        class="form-select" value=@Name bind=@Name
                        aria-label="Default select example"
                        @onchange="SelectedProcessesChanged">
                        @foreach (var item in keyValuePair)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    }
    <div class="col-12">
        @if (Records != null)
        {
            <br />
            <div class="col-2 offset-2 btn-group" role="group"
             aria-label="Basic example" style="width: 20em;direction: ltr">
                @if (type == SD.First || type == SD.Second)
                {
                    <div type="button" class="btn btn-secondary"
                 @onclick="@(e => BackNavigation(reference))">
                        برگشت
                    </div>

                    <br />
                    <a href="@($"/Upsert_Link/Create/{Name}/{type}/0/{Id}/{FirstPart}/{reference}")" class="btn btn-primary">افزودن</a>
                }
                else
                {
                    <a href="@($"/Dimentions/Create/{Name}/{reference}")" class="btn btn-primary">افزودن</a>
                }

            </div>
            <br />
            @if (Records.Count() > 0)
            {
                <ListGenericTypeItems Records="@Records"
                              ConfirmationDelete="HandleDelete" type="@type" reference="@reference">
                </ListGenericTypeItems>
            }
        }
        @if (Records == null || Records.Count() == 0)
        {
            if (IsLoading)
            {
                <center><img src="imeges/Gears.png" /></center>
                @*<h1>در حال بارگیری اطلاعات ...</h1>*@
            }
            else
            {
                <h1>هیچ ورودی یافت نشد</h1>
            }
        }
    </div>
</div>
@code {

    [Parameter]
    public long? Id { get; set; }

    [Parameter]
    public String Name { get; set; }

    [Parameter]
    public String? type { get; set; }

    [Parameter]
    public String? reference { get; set; }

    [Parameter]
    public String? FirstPart { get; set; }

    public Boolean IsLoading { get; set; } = true;

    public long DeleteidRole { get; set; }

    public IEnumerable<SimpleClass> Records { get; set; }

    public IEnumerable<KeyValuePair<string, string>> keyValuePair { get; set; }

    public SD.TableType getTableType { get; set; }

    private async Task BackNavigation(String Name)
    {
        _CNavigation.BackNavigation(_NavigationManager, $"{FirstPart.Replace("*", "/")}");
    }
    private async Task SelectedProcessesChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            Name = (string)e.Value;
            _NavigationManager.NavigateTo($"/Dimentions/Parameters/List/{Name}");
            await FirstLoadRecords();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await FirstLoadRecords();
        }
        if (reference is null || firstRender)
        {
            if (getTableType != SD.TableType.Links)
            {
                _CNavigation.NavigationList.Clear();
            }

            var RowDescription = (getTableType == SD.TableType.Links) ? Name : null;

            _CNavigation.LoadNavigation(TableName: Name, RowDescription: RowDescription,
                RowId: Id, reference: reference);

            if (String.IsNullOrEmpty(reference))
            {
                reference = _CNavigation.Serialize();
            }
            IsLoading = false;
            StateHasChanged();
        }
    }

    private async Task FirstLoadRecords()
    {
        if (keyValuePair == null)
            keyValuePair = await simpleClassRepository.GetAllTableName("Dimentions");

        if (Name == null)
            Name = keyValuePair.First().Value;

        await LoadRecords();
    }

    private async Task LoadRecords()
    {
        getTableType = DatabaseClass.GetTableType(Name);

        if (getTableType == SD.TableType.Links)
        {
            Records = await simpleClassRepository.GetAllLink(Name, type, Id.Value);
        }
        else
        {
            Records = await simpleClassRepository.GetAllByName(Name);
        }
    }
    public async Task HandleDelete(long id)
    {
        DeleteidRole = id;
        await _jSRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }
    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading = true;

        if (isConfirmed && DeleteidRole != 0)
        {
            await simpleClassRepository.delete(Name, DeleteidRole);
            await LoadRecords();
            await _jSRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
        }
        IsLoading = false;
    }
}
