@page "/Upsert_Link/Create/{Name}/{type}/{Id:long}/{LinkId:long}"
@page "/Upsert_Link/Create/{Name}/{type}/{Id:long}/{LinkId:long}/{reference}"
@page "/Upsert_Link/Edit/{Name}/{type}/{Id:long}/{reference}"

@inject ISimpleClassRepository simpleClassRepository;
@inject NavigationManager _NavigationManager;

@if (!IsLoading)
{
    <FormGenericTypeItems Record="@Record" type="@type" LinkId="@LinkId"
                      Id="@Id" Name="@Name" Title="@Title" IsLoading="@IsLoading"
                      reference="@reference">
        <RowTemplate>
            <label>کاربر</label>
            <select @bind-value="Record.FirstId" @bind-value:event="oninput"
                class="form-select" disabled="@(type == SD.First)">
                @if (Record.SecondId < 1)
                {
                    <option selected value="">لطفا یک مورد را انتخاب نمایید</option>
                }
                @foreach (var d_User in d_Users)
                {
                    <option value="@d_User.Id">شناسه: @d_User.Id | نام: @d_User.PName | نام فارسی: @d_User.PDescription</option>
                }
                <ValidationMessage For="@(() => Record.FirstId)" />
            </select>
            <label>واحد</label>
            <select @bind-value="Record.SecondId" @bind-value:event="oninput"
                class="form-select" disabled="@(type == SD.Second)">
                @if (Record.FirstId < 1)
                {
                    <option selected value="">لطفا یک مورد را انتخاب نمایید</option>
                }
                @foreach (var d_Area in d_Areas)
                {
                    <option value="@d_Area.Id">شناسه: @d_Area.Id | نام: @d_Area.PName | نام فارسی: @d_Area.PDescription</option>
                }
            </select>
            <ValidationMessage For="@(() => Record.SecondId)" />
        </RowTemplate>
    </FormGenericTypeItems>
}

@code {
    [Parameter]
    public long? Id { get; set; }
    [Parameter]
    public long LinkId { get; set; } = 0;
    [Parameter]
    public String? Name { get; set; }
    [Parameter]
    public String? reference { get; set; }
    [Parameter]
    public String type { get; set; }
    public SimpleLinkClass Record { get; set; }
    public IEnumerable<SimpleClass> d_Users { get; set; }
    public IEnumerable<SimpleClass> d_Areas { get; set; }
    private String Title { get; set; }
    public Boolean IsLoading { get; set; } = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadDTO();
        }
    }

    private async Task LoadDTO()
    {
        IsLoading = true;
        StateHasChanged();
        Record = await simpleClassRepository.Get(Name, Id) as SimpleLinkClass;

        if (type == SD.First)
        {
            if (Record.FirstId == 0)
                Record.FirstId = LinkId;
            else
                LinkId = Record.FirstId;
        }
        else
        {
            if (Record.SecondId == 0)
                Record.SecondId = LinkId;
            else
                LinkId = Record.SecondId;
        }

        d_Areas = await simpleClassRepository.GetAllByName("D_Area");
        d_Users = await simpleClassRepository.GetAllByName("D_User");
        Title = Record.Id > 0 ? "ویرایش" : "ایجاد";
        IsLoading = false;
        StateHasChanged();
    }
}