@inject ITableCRUD simpleClassRepository;
@inject ICartable iCartable;
@inject IGlobalization globalization;

<div dir="rtl">

    @if (cartableDTOList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <MudTable Items="@cartableDTOList">
            <HeaderContent>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.RadNumber), new String[] { }))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.PCreateDate), new String[] { }))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.PRecieveDate), new String[] { }))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.Requestor), new String[] { }))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.Process), new String[] { }))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.Task), new String[] { }))
                </MudTh>
                <MudTh>
                    @(globalization.GetValue(nameof(Localization.Summary), new String[] { }))
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context?.RadNumber</MudTd>
                <MudTd>@context?.PCreateDate</MudTd>
                <MudTd>@context?.PRecieveDate</MudTd>
                <MudTd>@context?.Requestor?.DisplayName</MudTd>
                <MudTd>@context?.Process?.DisplayName</MudTd>
                <MudTd>@context?.Task?.DisplayName</MudTd>
                <MudTd>@context.Summary</MudTd>
            </RowTemplate>
        </MudTable>
        <hr />
        <br />
        <br />
    }
</div>
@code
{
    [Parameter]
    public Boolean Inbox { get; set; }

    [Parameter]
    public String Username { get; set; }

    private IEnumerable<CartableDTO>? cartableDTOList;

    protected override async Task OnInitializedAsync()
    {
        var cartableDTO = new CartableDTO();

        cartableDTO.User = new SimpleClassDTO() { Name = Username };

        if (Inbox)
        {
            cartableDTOList = await iCartable.Inbox(cartableDTO);
        }
        else
        {
            cartableDTOList = await iCartable.Outbox(cartableDTO);
        }
    }
}
