@using Cheetah_Business.Data;
@inherits CUpsert_GeneralCode

<CEditDimentions Record="@Record" Records="@Records" IsInline="@IsInline"
                 Name="D_EndorsementPattern" Id="@Id" reference="@reference"
                 ParentCallback="@ParentCallback" Title="@Title"
                 LinkRecords="@LinkRecords">
    <RowTemplate>
        <div>
            @if (!IsLoading)
            {
                <div class="row">
                    <center>
                        <MudButton Variant="Variant.Filled" Color="Color.Success"
                                   StartIcon="@Icons.Material.Filled.NoteAdd"
                                   style="align-self: center;"
                        @onclick="(e => AddConditions(e,Record))">
                            افزودن به لیست شرط ها
                        </MudButton>
                    </center>
                    <div class="row">
                        @if ((Record as F_Scenario).Conditions.Any())
                        {
                            <Ctable>
                                <caption>
                                    <div class="row my-1" style="justify-content: center;">
                                        <span class="col-2 text-success">لیست شرط‌ها</span>

                                    </div>
                                </caption>
                                <thead>
                                    <tr style="width:90%">
                                        <th data-sortable="true" style="width:8%" aria-sort="ascending">شناسه</th>
                                        <th data-sortable="true" style="width:8%">ترتیب</th>
                                        <th data-sortable="true" style="width:16%">نام پارامتر</th>
                                        <th data-sortable="true" style="width:16%">عملگر</th>
                                        <th data-sortable="true" style="width:16%">مقدار</th>
                                        <th data-sortable="true" style="width:8%">فعال</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (Record as F_Scenario).Conditions)
                                    {
                                        <tr style="width:90%">
                                            <td style="width:8%">
                                                <span class="col-12">
                                                    @((item.Id == 0) ? String.Empty : item.Id)
                                                </span>
                                            </td>
                                            <td style="width:8%">
                                                <InputNumber class="col-12" @bind-Value="item.SortIndex"></InputNumber>
                                            </td>
                                            <td style="width:16%">
                                                <InputSelect class="col-12"
                                                @bind-Value="item.TagId" style="direction:rtl"
                                                @oninput="(e => SelectedParameterListChanged(e,item))">
                                                    @if (item.TagId < 1)
                                                    {
                                                        <option selected value="">لطفا یک مورد را انتخاب نمایید</option>
                                                    }
                                                    @foreach (var list_D_ParameterList in List_D_Tag)
                                                    {
                                                        <option value="@list_D_ParameterList.Id">
                                                            @list_D_ParameterList.DisplayName (@list_D_ParameterList.Name)
                                                        </option>
                                                    }
                                                </InputSelect>
                                            </td>
                                            <td style="width:16%">
                                                <InputSelect class="col-12"
                                                @bind-Value="item.OperandId" style="direction:rtl"
                                                @oninput="(e => SelectedOperandChanged(e,item))">
                                                    @if (item.TagId < 1)
                                                    {
                                                        <option selected value="">لطفا یک مورد را انتخاب نمایید</option>
                                                    }
                                                    @foreach (var list_D_Operand in List_D_Operand)
                                                    {
                                                        <option value="@list_D_Operand.Id">
                                                            @list_D_Operand.DisplayName
                                                        </option>
                                                    }
                                                </InputSelect>
                                            </td>
                                            <td style="width:16%">
                                                @if (item.Tag is not null)
                                                {
                                                    @if (item.Tag?.TagTypeId is not null)
                                                    {
                                                        @if (item.Tag?.TagTypeId == 1)
                                                        {
                                                            <InputNumber class="col-12" @bind-Value="item.FloatValue"></InputNumber>
                                                        }
                                                        else if (item.Tag?.TagTypeId == 2)
                                                        {
                                                            <InputCheckbox class="col-12" @bind-Value="item.BooleanValue"></InputCheckbox>
                                                        }
                                                        else if (item.Tag?.TagTypeId == 3)
                                                        {
                                                            <InputDate class="col-12" @bind-Value="item.Value"></InputDate>
                                                        }
                                                        else if (item.Tag?.TagTypeId == 4)
                                                        {
                                                            <InputText class="col-12" @bind-Value="item.Value"></InputText>

                                                        }
                                                    }
                                                }
                                            </td>
                                            <td style="width:8%">
                                                <MudCheckBox Label="فعال"
                                                             Checked="@Record.EnableRecord"
                                                             Color="Color.Primary"
                                                             CheckedIcon="@Icons.Material.Filled.Verified"
                                                             UnCheckedColor="Color.Error"
                                                             UncheckedIcon="@Icons.Material.Filled.DoNotDisturb"
                                                @onclick="args=>item.EnableRecord = !item.EnableRecord" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </Ctable>
                        }
                    </div>
                </div>
                <div class="row">
                    <center>
                        <MudButton Variant="Variant.Filled" Color="Color.Success"
                                   StartIcon="@Icons.Material.Filled.PersonAdd"
                                   style="align-self: center;"
                        @onclick="AddEndorsementPattern">
                            افزودن به لیست تاییدها
                        </MudButton>
                    </center>
                    <div class="row">
                        @if ((Record as F_Scenario).Endorsements.Any())
                        {
                            <Ctable>
                                <caption>
                                    <div class="row my-1" style="justify-content: center;">
                                        <span class="col-2 text-success">لیست ‌تاییدها</span>
                                    </div>
                                </caption>
                                <thead>
                                    <tr style="width:90%">
                                        <th data-sortable="true" style="width:16%">فعال کننده</th>
                                        <th data-sortable="true" style="width:8%" aria-sort="ascending">شناسه</th>
                                        <th data-sortable="true" style="width:8%">ترتیب</th>
                                        <th data-sortable="true" style="width:16%">نام نقش</th>
                                        <th data-sortable="true" style="width:16%">اقدامات مجاز</th>
                                        <th data-sortable="true" style="width:8%">فعال</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (Record as F_Scenario).Endorsements.OrderBy(x => x.SortIndex))
                                    {
                                        <tr style="width:90%">
                                            <td style="width:16%">
                                                <center>
                                                    <button type="button" class="col-6 btn btn-primary"
                                                            style="align-self: center;"
                                                    @onclick="(e => AddConditions(e,item))">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-database-fill-add" viewBox="0 0 16 16">
                                                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0ZM8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1Z" />
                                                            <path d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12.31 12.31 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7Zm6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.552 4.552 0 0 1 .23-2.002Zm-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.507 4.507 0 0 1-1.3-1.905Z" />
                                                        </svg>
                                                        اضافه کردن فعال‌ساز
                                                    </button>
                                                </center>
                                                <div class="row">
                                                    @if (item.Conditions.Any())
                                                    {
                                                        <Ctable>
                                                            <caption>
                                                                <div class="row my-1" style="justify-content: center;">
                                                                    <span class="col-4 text-success">لیست فعال‌ساز‌ها</span>
                                                                </div>
                                                            </caption>
                                                            <thead>
                                                                <tr style="width:90%">
                                                                    <th data-sortable="true" style="width:8%" aria-sort="ascending">شناسه</th>
                                                                    <th data-sortable="true" style="width:8%">ترتیب</th>
                                                                    <th data-sortable="true" style="width:16%">نام پارامتر</th>
                                                                    <th data-sortable="true" style="width:16%">عملگر</th>
                                                                    <th data-sortable="true" style="width:16%">مقدار</th>
                                                                    <th data-sortable="true" style="width:8%">فعال</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in item.Conditions.OrderBy(x => x.SortIndex))
                                                                {
                                                                    <tr style="width:90%">
                                                                        <td style="width:8%">
                                                                            <span class="col-12">
                                                                                @((item.Id == 0) ? String.Empty : item.Id)
                                                                            </span>
                                                                        </td>
                                                                        <td style="width:8%">
                                                                            <InputNumber class="col-12" @bind-Value="item.SortIndex"></InputNumber>
                                                                        </td>
                                                                        <td style="width:16%">
                                                                            <InputSelect class="col-12"
                                                                            @bind-Value="item.TagId" style="direction:rtl"
                                                                            @oninput="(e => SelectedParameterListChanged(e,item))">
                                                                                @if (item.TagId < 1)
                                                                                {
                                                                                    <option selected value="">لطفا یک مورد را انتخاب نمایید</option>
                                                                                }
                                                                                @foreach (var list_D_ParameterList in List_D_Tag)
                                                                                {
                                                                                    <option value="@list_D_ParameterList.Id">
                                                                                        @list_D_ParameterList.DisplayName (@list_D_ParameterList.Name)
                                                                                    </option>
                                                                                }
                                                                            </InputSelect>
                                                                        </td>
                                                                        <td style="width:16%">
                                                                            <InputSelect class="col-12"
                                                                            @bind-Value="item.OperandId" style="direction:rtl"
                                                                            @oninput="(e => SelectedOperandChanged(e,item))">
                                                                                @if (item.TagId < 1)
                                                                                {
                                                                                    <option selected value="">لطفا یک مورد را انتخاب نمایید</option>
                                                                                }
                                                                                @foreach (var list_D_Operand in List_D_Operand)
                                                                                {
                                                                                    <option value="@list_D_Operand.Id">
                                                                                        @list_D_Operand.DisplayName
                                                                                    </option>
                                                                                }
                                                                            </InputSelect>
                                                                        </td>
                                                                        <td style="width:16%">
                                                                            @if (item.Tag is not null)
                                                                            {
                                                                                @if (item.Tag?.TagTypeId is not null)
                                                                                {
                                                                                    @if (item.Tag?.TagTypeId == 1)
                                                                                    {
                                                                                        <InputNumber class="col-12" @bind-Value="item.FloatValue"></InputNumber>
                                                                                    }
                                                                                    else if (item.Tag?.TagTypeId == 2)
                                                                                    {
                                                                                        <InputCheckbox class="col-12" @bind-Value="item.BooleanValue"></InputCheckbox>
                                                                                    }
                                                                                    else if (item.Tag?.TagTypeId == 3)
                                                                                    {
                                                                                        <InputDate class="col-12" @bind-Value="item.Value"></InputDate>
                                                                                    }
                                                                                    else if (item.Tag?.TagTypeId == 4)
                                                                                    {
                                                                                        <InputText class="col-12" @bind-Value="item.Value"></InputText>

                                                                                    }
                                                                                }
                                                                            }
                                                                        </td>
                                                                        <td style="width:8%">
                                                                            <MudCheckBox Label="فعال"
                                                                                         Checked="@item.EnableRecord"
                                                                                         Color="Color.Primary"
                                                                                         CheckedIcon="@Icons.Material.Filled.Verified"
                                                                                         UnCheckedColor="Color.Error"
                                                                                         UncheckedIcon="@Icons.Material.Filled.DoNotDisturb"
                                                                            @onclick="args=>item.EnableRecord = !item.EnableRecord" />
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </Ctable>
                                                    }
                                                </div>
                                            </td>
                                            <td style="width:8%">
                                                <span class="col-12">
                                                    @(
                                                        (item.Id == 0) ? String.Empty : item.Id
                                                        )
                                                </span>
                                            </td>
                                            <td style="width:8%">
                                                <InputNumber class="col-12" @bind-Value="item.SortIndex"></InputNumber>
                                            </td>
                                            <td style="width:16%">
                                                <InputSelect class="col-12"
                                                @bind-Value="item.RoleId" style="direction:rtl"
                                                @oninput="(e => SelectedEndorsementChanged(e,item))">
                                                    @if (item.RoleId < 1)
                                                    {
                                                        <option selected value="">لطفا یک مورد را انتخاب نمایید</option>
                                                    }
                                                    @foreach (var list_D_Role in List_D_Role)
                                                    {
                                                        <option value="@list_D_Role.Id">
                                                            @list_D_Role.DisplayName (@list_D_Role.Name)
                                                        </option>
                                                    }
                                                </InputSelect>
                                            </td>
                                            <td style="width:8%">
                                                <MudSelect MultiSelection="true"
                                                           AdornmentIcon="@Icons.Material.Filled.Search"
                                                           AnchorOrigin="Origin.BottomCenter"
                                                           T="D_Tag"
                                                           ToStringFunc="@GetMultiSelectionText"
                                                           SelectedValuesChanged="SelectedValues=>SelectionText(SelectedValues,item)"
                                                           SelectedValues="L_TagEndorsement.Where(x=>x.SecondId == item.Id).Select(x=>x.D_Tag)">
                                                    @foreach (var state in List_D_Tag)
                                                    {
                                                        <MudSelectItem Value="@state" />
                                                    }
                                                </MudSelect>
                                            </td>
                                            <td style="width:8%">
                                                <MudCheckBox Label="فعال"
                                                             Checked="@item.EnableRecord"
                                                             Color="Color.Primary"
                                                             CheckedIcon="@Icons.Material.Filled.Verified"
                                                             UnCheckedColor="Color.Error"
                                                             UncheckedIcon="@Icons.Material.Filled.DoNotDisturb"
                                                @onclick="args=>item.EnableRecord = !item.EnableRecord" />

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </Ctable>
                        }
                    </div>
                </div>
                <LinkComponent Records="@LinkRecords"
                               reference="@reference"
                               Title="@($"لیست فرآیندهای که مرتبط با استراتژی  {Record?.DisplayName} هستند")">
                </LinkComponent>
            }
        </div>
    </RowTemplate>
</CEditDimentions>
@code {

    public List<SimpleClass> List_D_Role { get; set; } = new();
    public List<D_Tag> List_D_Tag { get; set; } = new();
    public List<SimpleClass> List_D_Operand { get; set; } = new();
    public List<SimpleClass> List_D_TagType { get; set; } = new();

    public List<L_TagEndorsement> L_TagEndorsement = new();

    private async Task SelectionText(IEnumerable<D_Tag> selectedValues, F_Endorsement? f_Endorsement)
    {
        foreach (D_Tag selectedValue in selectedValues)
        {
            if (!L_TagEndorsement.Any(x => x.FirstId == selectedValue.Id && x.SecondId == f_Endorsement.Id))
            {
                var l_TagEndorsement = new L_TagEndorsement()
                    {
                        FirstId = selectedValue.Id,
                        D_Tag = selectedValue,
                        SecondId = f_Endorsement.Id,
                        F_Endorsement = f_Endorsement,
                        Name = selectedValue.Name + "_" + f_Endorsement.Name,
                        DisplayName = selectedValue.DisplayName + "_" + f_Endorsement.DisplayName
                    };
                L_TagEndorsement.Add(l_TagEndorsement);
                f_Endorsement.ValidUserActions.Add(l_TagEndorsement);
            }
        }
        foreach (var item in L_TagEndorsement.Where(x => x.SecondId == f_Endorsement.Id))
        {
            if (!selectedValues.Any(x=>x.Id == item.FirstId))
            {
                L_TagEndorsement.Remove(item);
                var tagEndorsement = f_Endorsement.ValidUserActions.Single(x => x.Id == item.Id);
                var state = f_Endorsement.ValidUserActions.Remove(tagEndorsement);
                
            }
        }
    }

    private string GetMultiSelectionText(SimpleClass selectedValues)
    {
        return $"{string.Join(", ", selectedValues?.DisplayName)}";
    }

    public override async Task ExtendedLoadDTO()
    {
        List_D_Role = await simpleClassRepository.GetAllByName(nameof(D_Role)) as List<SimpleClass>;
        List_D_Tag = await Task.FromResult(_db.D_Tags.ToList());
        List_D_Operand = await simpleClassRepository.GetAllByName(nameof(D_Operand)) as List<SimpleClass>;
        List_D_TagType = await simpleClassRepository.GetAllByName(nameof(D_TagType)) as List<SimpleClass>;
        AllRecords = await simpleClassRepository.GetAllByName(nameof(D_Process));
        AllLink = await simpleClassRepository.GetAllLink(nameof(L_ProcessScenario), nameof(LinkProperty.Second), Id);
        L_TagEndorsement.AddRange(await Task.FromResult(_db.L_TagEndorsements.ToList()));

        // simpleClassRepository.GetAllLink(nameof(L_TagEndorsement), nameof(LinkProperty.Second), Id);


        this.LinkRecords = new SimpleLinkClassDTO()
            {
                linkType = nameof(L_ProcessScenario),
                firstType = nameof(D_Process),
                secondType = nameof(F_Scenario),
                fixedId = Id,
                sd_Status = nameof(LinkProperty.Second),
                floatState = AllRecords.Select(x => new KeyValuePair<Tuple<long?, string>, Boolean>(
                    new Tuple<long?, string>(x.Id, x.DisplayName),
                    AllLink.Any(y => y.FirstId == x.Id && y.SecondId == Id)))
                                                                                        .ToDictionary(x => x.Key, x => x.Value)
            };
    }

    private async Task SelectedOperandChanged(ChangeEventArgs e, F_Condition f_Condition)
    {
        if (Id > 0 && e.Value is not null)
        {
            var _D_OperandId = Int64.Parse(e.Value.ToString());

            f_Condition.Operand = List_D_Operand
            .First(x => x.Id == _D_OperandId) as D_Operand;
        }
    }

    private async Task SelectedParameterListChanged(ChangeEventArgs e, F_Condition f_Condition)
    {
        if (Id > 0 && e.Value is not null)
        {
            var _D_ParameterListId = Int64.Parse(e.Value.ToString());

            f_Condition.Tag = List_D_Tag
            .First(x => x.Id == _D_ParameterListId) as D_Tag;
        }
    }

    public async Task AddConditions(MouseEventArgs e, SimpleClass cObject)
    {
        var Condition = new F_Condition();

        var baseType = cObject.GetType().BaseType;

        ICollection<F_Condition> Conditions = (baseType == typeof(F_Scenario)) ? (cObject as F_Scenario)?.Conditions
        : (cObject as F_Endorsement)?.Conditions;

        if (Conditions.Any())
        {
            Condition.SortIndex = Conditions.Max(x => x.SortIndex) + 1;
        }
        else
        {
            Condition = await simpleClassRepository.GetLast(nameof(F_Condition)) as F_Condition;
        }

        Condition.Tag = List_D_Tag.First() as D_Tag;
        Condition.Operand = List_D_Operand.First() as D_Operand;

        if (baseType == typeof(F_Scenario))
        {
            (cObject as F_Scenario).Conditions.Add(Condition);
        }
        else
        {
            (cObject as F_Endorsement).Conditions.Add(Condition);
        }
    }

    public async Task AddEndorsementPattern()
    {
        var d_Endorsement = new F_Endorsement();

        var eP_Endorsements = (Record as F_Scenario).Endorsements;

        if (eP_Endorsements.Any())
        {
            d_Endorsement.SortIndex = eP_Endorsements.Max(x => x.SortIndex) + 1;
        }
        else
        {
            d_Endorsement = await simpleClassRepository.GetLast(nameof(F_Endorsement)) as F_Endorsement;
        }

        d_Endorsement.Role = List_D_Role.First() as D_Role;

        (Record as F_Scenario).Endorsements.Add(d_Endorsement);
    }

    private async Task SelectedEndorsementChanged(ChangeEventArgs e, F_Endorsement d_Endorsement)
    {
        if (Id > 0 && e.Value is not null)
        {
            var _D_Role = Int64.Parse(e.Value.ToString());

            d_Endorsement.Role = List_D_Role
            .First(x => x.Id == _D_Role) as D_Role;
        }
    }
}