@page "/List"
@page "/List/{Name}"
@page "/List/{Name}/{reference}"
@page "/List/{Name}/{FilterTableName}/{Id:long}/{reference}"
@using Cheetah.Presentation.Web.Blazor.Server.Components.Shared

@inherits SharedPage

<NavigationComponent _CNavigation="@_CNavigation"></NavigationComponent>

<div class="row">
    @if (!IsLoading)
    {
        <div class="col-lg-5 col-sm-9">
            <MudSelect Label=@(globalization.GetValue(nameof(Localization.BlazorServer_SelectParameter) ))
                       HelperText=@(globalization.GetValue(nameof(Localization.BlazorServer_SelectParameter) ))
                       AnchorOrigin="Origin.BottomCenter" AdornmentColor="Color.Primary"
                       AdornmentIcon="@Icons.Material.Filled.Settings" T="KeyValuePair<String, String>"
                       @bind-Value="SelectedName">
                @foreach (var _keyValuePair in keyValuePair)
                {
                    <MudSelectItem T="KeyValuePair<String, String>" Value="@_keyValuePair">@_keyValuePair.Value</MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="col-lg-1 col-sm-3">
            @if (Sync != true && type != nameof(LinkProperty.First) && type != nameof(LinkProperty.Second))
            {
                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add"
                        OnClick="Addnew"
                        Label=@(globalization.GetValue(nameof(Localization.BlazorServer_Add) )) />
            }
        </div>

        <div class="col-lg-1 col-sm-3">
            <MudCheckBox Label="سینک"
                         Value="((D_Entity)Record).Sync"
                         ReadOnly="true"
                         Color="Color.Primary"
                         CheckedIcon="@Icons.Material.Filled.Verified"
                         UnCheckedColor="Color.Error"
                         UncheckedIcon="@Icons.Material.Filled.DoNotDisturb"></MudCheckBox>
        </div>

        @if (Sync is true)
        {
            <div class="col-lg-3 col-sm-3">
                <MudButton Color="@(_color)"
                           OnClick="GetLastModified"
                           EndIcon="@Icons.Material.Filled.Refresh"
                           id="LastUpdateButton">
                    آخرین بروزرسانی:
                    @LastModified?.ToString("HH:mm:ss") @LastModified?.ConvertToPersianDay()
                </MudButton>
            </div>
            <div class="col-lg-1 col-sm-3">
                <MudCheckBox Label="فعال" Variant="Variant.Text"
                             Value="((D_Entity)Record).EnableRecord"
                             ReadOnly="true"
                             Color="Color.Primary"
                             CheckedIcon="@Icons.Material.Filled.Verified"
                             UnCheckedColor="Color.Error"
                             UncheckedIcon="@Icons.Material.Filled.DoNotDisturb"></MudCheckBox>
            </div>
        }
    }

    @if (!String.IsNullOrEmpty(Name))
    {
        @if (false)
        {
            <div class="shadow rounded p-3 form-group my-2 col-sm-12 col-md-6">
                <div class="input-group d-flex justify-content-end" style="direction:ltr">
                    <span class="form-control"> @(keyValuePair.Where(x => x.Key == FilterTableName).Single().Value + ":" + Record.DisplayName)</span>
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="border-radius:revert;width: 7em;font-size:large;"
                              lang="fa" dir="rtl">
                            @(globalization.GetValue(nameof(Localization.BlazorServer_Filter)))
                        </span>
                    </div>
                </div>
            </div>
        }

        <ListGenericTypeItems Records="@Records"
                              reference="@reference" Name="@Name" Sync="@Sync"
                              ParentCallback="UpdateForm" LoadData="@LoadData"
                              type="@type" @ref="listGenericTypeItems">
        </ListGenericTypeItems>
    }
</div>
<CLoading IsLoading="@IsLoading" AnyRecord="@Records.Any()"></CLoading>
@code {
    List<D_Entity> _d_Entity = new();
    DateTimeOffset? LastModified;
    Color _color = Color.Default;

    private void SetLastModified()
    {
        if (LastModified.HasValue)
        {
            var _sDate = DateTimeOffset.Now.Subtract(LastModified.Value).Minutes;

            switch (_sDate)
            {
                case < 1:
                    _color = Color.Success;
                    break;
                case < 5:
                    _color = Color.Warning;
                    break;
                default:
                    _color = Color.Error;
                    break;
            }
        }
    }

    public async Task GetLastModified()
    {
        if (!String.IsNullOrEmpty(Name))
        {
            LastModified = await simpleClassRepository.GetLastUpdate(Name);
            SetLastModified();
        }
    }

    async Task Addnew()
    {
        listGenericTypeItems.PrepareLink(0, CrudOperation.Create);
        LoadData = true;
    }

    public KeyValuePair<String, String> SelectedName
    {
        get
        {
            return (Name is null) ? new KeyValuePair<String, String>() :
             keyValuePair.Single(x => x.Key == Name);
        }
        set
        {
            Name = value.Key;
            _NavigationManager.NavigateTo($"/List/{Name}");
            FirstLoadRecords().GetAwaiter().GetResult();
        }
    }

    private async Task<IEnumerable<KeyValuePair<String, String>>> Search(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(50);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
        {
            return keyValuePair;
        }
        return keyValuePair
        .Where(x => x.Value.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private ListGenericTypeItems listGenericTypeItems;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await FirstLoadRecords();
        }
        if (reference is null || firstRender)
        {
            _CNavigation.NavigationList.Clear();

            var Value = keyValuePair.Where(x => x.Key == Name).First().Value;

            reference = _CNavigation.LoadNavigation(Address: $"List/{Name}", RowDescription: Value,
            RowId: Id, Reference: reference);

            IsLoading = false;
            StateHasChanged();
        }
    }

    private async Task FirstLoadRecords()
    {

        _d_Entity = (await simpleClassRepository
        .GetAllByNameAsync(nameof(D_Entity)))
        .Select(item => item.Adapt<D_Entity>())
        .ToList();

        keyValuePair.Clear();

        foreach (D_Entity item in _d_Entity)
        {
            if (item.Display is true)
            {
                keyValuePair.Add(item.Name, item.DisplayName);
            }
        }

        if (Name == null)
        {
            Name = keyValuePair.First().Key;
            Sync = _d_Entity.Select(x => x.Sync).First();
            _NavigationManager.NavigateTo($"/List/{Name}");
        }
        await LoadRecords();

    }

    private async Task LoadRecords()
    {
        try
        {
            LoadData = false;

            Record = _d_Entity.Where(x => x.Name == Name).First();

            LastModified = Record.LastModified;

            SetLastModified();

            Sync = ((D_Entity)Record).Sync;

            Records = await simpleClassRepository.GetAllByNameAsync(Name);

            if (!String.IsNullOrEmpty(FilterTableName))
                Record = await simpleClassRepository.GetAsync(FilterTableName, Id);
        }
        catch (Exception ex)
        {
            Snackbar.Add((ex.InnerException is not null) ? ex.InnerException.Message : ex.Message,
            Severity.Error);
        }
    }

    public async Task UpdateForm()
    {
        IsLoading = true;
        await LoadRecords();
        IsLoading = false;
        await _JSRuntime.InvokeVoidAsync("CreateToolTip", "Create");
    }
}
